node_modules/
/.next/
/out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.next
yarn.lock
pnpm-lock.yaml
*.tsbuildinfo
next-env.d.ts
build/
dist/
dist-ssr
*.local
.coverage
*.log
.direnv/
__pycache__/

# Editor
.idea/
.vscode/
*~
*.swp
