##########################################
### POSTGRESQL
##########################################
POSTGRESQL_USER=elsa
POSTGRESQL_PASSWORD=elsa
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=35000
POSTGRESQL_DB=hoot
##########################################
### REDIS
##########################################
REDIS_PORT=35001
REDIS_HOST=localhost
##########################################
### UI
##########################################
UI_PROTOCOL=http
UI_HOST=localhost
UI_PORT=37000
##########################################
### SYSTEM
##########################################
SYSTEM_HOST=localhost
SYSTEM_PROTOCOL=http
SYSTEM_PORT=38000
