##########################################
### MONGODB
##########################################
MONGODB_USER=elsa
MONGODB_PASSWORD=elsa
MONGODB_HOST=localhost
MONGODB_PORT=35000
MONGODB_AUTHN_DATABASE=elsaadmin
##########################################
### REDIS
##########################################
REDIS_PORT=35001
REDIS_HOST=localhost
##########################################
### UI
##########################################
UI_STOREFRONT_PROTOCOL=http
UI_STOREFRONT_HOST=localhost
UI_STOREFRONT_PORT=37000
UI_STOREFRONT_URL=${UI_STOREFRONT_PROTOCOL}://${UI_STOREFRONT_HOST}:${UI_STOREFRONT_PORT}
##########################################
### SYSTEM
##########################################
SYSTEM_CONSOLE_PROTOCOL=http
SYSTEM_CONSOLE_HOST=localhost
SYSTEM_CONSOLE_PORT=38000
SYSTEM_CONSOLE_DB=console
