PROTOCOL=${UI_STOREFRONT_PROTOCOL}
HOST=${UI_STOREFRONT_HOST}
PORT=${UI_STOREFRONT_PORT}
VITE_SYSTEM_CONSOLE_HOST=${SYSTEM_CONSOLE_HOST}
VITE_SYSTEM_CONSOLE_PORT=${SYSTEM_CONSOLE_PORT}
VITE_SYSTEM_CONSOLE_PROTOCOL=${SYSTEM_CONSOLE_PROTOCOL}
